<div class="layout" *ngIf="data?.selectedUser">
  <form>
 
    <p>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" [(ngModel)]="data.selectedUser.first_name" name="firstname">
    </p>
   
    <p>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" [(ngModel)]="data.selectedUser.last_name" name="lastname">
    </p>
   
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" [(ngModel)]="data.selectedUser.email" name="email">
    </p>
    <p><button (click)="update()">Submit</button></p>
    </form>
  </div>
  