<div class="super">
    <table>
        <tr class="details">
            <th class="inner">ID</th>
            <th class="inner">Email</th>
            <th class="inner">First Name</th>
            <th class="inner">Last Name</th>
            
        </tr>
        <tr >
            <td class="inner">{{file['id']}}</td>
            <td class="inner">{{file['email']}}</td>
            <td class="inner">{{file['first_name']}}</td>
            <td class="inner">{{file['last_name']}}</td>
            
        </tr>
    </table>
</div>