.details{
    border:1px solid black;
    text-align: center;
    background-color: #2c3845;
    color:white;
    
    height:60px;
}
.upper{
    width:50%;
    margin:20px 20px;
    
    
}
.inner{
    text-align: center;
    border: 5px solid rgb(39, 42, 56);
    
}
.super{
    display:flex;
}